<div class="col-lg-6 col-xl-3 mb-4">
    <div class="card dashboard_buttons h-100">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-3">
                    <i class="fa-2x <%= dashboard_buttons_icon %> "></i>&nbsp;&nbsp;&nbsp;<%= dashboard_buttons_title %>
                </div>
            </div>
        </div>
        <div class="<%= dashboard_buttons_color %> card-footer d-flex align-items-center justify-content-between small">
            <a class="stretched-link" href="<%= dashboard_buttons_href %>"><%= dashboard_buttons_subtitle %></a>
        </div>
    </div>
</div>